<div style="width: 100%;">
  <div class="new">
  <%= link_to "登録", new_inventory_path %>
  </div>
  <table style="margin: 0 auto; border-bottom: solid 1px #000s;">
    <thead style="border-bottom: solid 1px #000;">
      <tr>
        <th class="tablehead">受注番号/板厚</th>
        <th class="tablehead">顧客/板材</th>
        <th class="tablehead">製品名/定尺</th>
        <th class="tablehead">台数/枚数</th>
        <th class="tablehead">進捗状況/在庫状況</th>
      </tr>
    </thead>
    <tbody>
      <% @inventories.each do |invento| %>
      <tr>
        <td><%= invento.ordernumber %></td>
        <td><%= invento.customer %></td>
        <td>
          <% if invento.product %>
            <%= invento.product %>
          <% else %>
            <%= invento.ruler %>
          <% end %>
        </td>
        <td><%= invento.platform %></td>
        <td><%= invento.progress %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>