<div style="width: 500px;">
  <%= form_with model: @invento, local:true do |f| %>
  <table>
    <tbody>
      
      <tr>
        <td>注文番号</td>
        <td><%= f.textfield :ordernumber %></td>
      </tr>
      
      <tr>
        <td>注文番号</td>
        <td><%= f.textfield :customer %></td>
      </tr>
      
      <tr>
        <td>注文番号</td>
        <td><%= f.textfield :product %></td>
      </tr>
      
      <tr>
        <td>注文番号</td>
        <td><%= f.textfield :number %></td>
      </tr>
      
      <tr>
        <td>注文番号</td>
        <td><%= f.textfield :number %></td>
      </tr>
      
    </tbody>
  </table>
</div>