<div style="width: 500px; margin: 0 auto;">

  <div class="mb-5" style="text-align: center">
    <input type="radio" name="product" value="生産管理" id="p1" checked/>生産管理
    <span style="padding-left: 25px;"><input type="radio" name="product" value="在庫管理" id="p2"/>在庫管理</span>
  </div>


  <%= form_with model: @production, local:true do |f| %>
  <table>
    <tbody id="pro">

      <tr>
        <td>注文番号</td>
        <td><%= f.text_field :ordernumber %></td>
      </tr>

      <tr>
        <td>顧客</td>
        <td><%= f.text_field :customer %></td>
      </tr>

      <tr>
        <td>製品名</td>
        <td><%= f.text_field :product %></td>
      </tr>

      <tr>
        <td>台数</td>
        <td><%= f.text_field :platform %></td>
      </tr>

      <tr>
        <td>進捗状況</td>
        <td><%= f.text_field :progress %></td>
      </tr>

    </tbody>
  </table>
  <% end %>
  <%= form_with model: @production, local:true do |f| %>
  <table>
    <tbody id="man">

      <tr>
        <td>板厚</td>
        <td><%= f.text_field :ordernumber %></td>
      </tr>

      <tr>
        <td>材質</td>
        <td><%= f.text_field :customer %></td>
      </tr>

      <tr>
        <td>定尺</td>
        <td><%= f.text_field :ruler %></td>
      </tr>

      <tr>
        <td>枚数</td>
        <td><%= f.text_field :platform %></td>
      </tr>

      <tr>
        <td>在庫状況</td>
        <td><%= f.text_field :progress %></td>
      </tr>

    </tbody>
  </table>
  <% end %>
</div>