<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="logo">
      <%= link_to "Inventory", root_path, class: "title" %>
    </div>
    <nav>
      <ul>
        <li><%= link_to "top", root_path, class: "side" %></li>
        <li><%= link_to "一覧", productions_path, class: "side" %></li>
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
